/* General row styling */
.row {
    display: flex;
    width: 100%;
    height: 550px;
    margin-right: -2em; 
}

/* Row content sections */
.row-cont-left, .row-cont-right {
    width: 50%;
    padding: 3em;
    
}

/* Row1 specific styles */
.row1 .row-cont-left {
    background-color: #ffb700c9;
}

.row1 .row-cont-right {
    background-color: #191200df;
}

/* Consistent styling for additional rows */
.row2 .row-cont-left {
    background-color: #191200df; /* Example color */
}

.row2 .row-cont-right {
    background-color: #ffb700c9;
}

.row3 .row-cont-left {
    background-color: #ffb700c9;
}

.row3 .row-cont-right {
    background-color: #191200df;
}